<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
 <body>
    <h1>Welcome to <%= title %></h1>
	<a href="/quizzes">Quizzes</a>
	<a href="/credits">Creditos</a>	
    <p>Try to win this game</p>
  </body>
</html>
